<md-button ng-click="toggleLeft()" class="md-primary" hide-gt-md>
            <i class="fa fa-bars"></i>Menu
  </md-button>
<md-card class="station-search">
  <md-card-content>
  <h5>Find a Station</h5>


  <div layout="column" layout-align="center center" style="padding:40px">

    <div layout="row" style="height: 100px;">


      <form ng-submit="loadStation(s,c,g)">

    <div layout="row">
        <!-- Select genre/ need to change to country -->

        <md-select ng-model="s.states" md-on-open="loadStates()"  style="min-width: 200px;">

          <md-select-label>{{ s ? s.states : 'Select State' }}</md-select-label>

          <md-option class="md-accent" ng-value="s" ng-repeat="(s, c) in states track by $index">{{s}}
          </md-option>

        </md-select>


        <!-- Select song / need to change to genre -->

         <md-select ng-show="stateSelected" ng-model="c.city" md-on-open="loadCities(s.states)" style="min-width: 200px;">

          <md-select-label>{{ c ? c.city : 'Cities' }}</md-select-label>

          <md-option class="md-accent" ng-value="c" ng-repeat="c in city track by $index">{{c}}
          </md-option>

        </md-select>



        <!-- <p class="md-caption">You have assigned the task to: {{ g ? g.name : 'No one yet' }}</p> -->


    </div>

    <div layout="row">

      <md-select ng-model="g.genre" md-on-open="loadGenres(s, c)"  style="min-width: 200px;">

          <md-select-label>{{ g ? g.genre : 'Select Genre' }}</md-select-label>

          <md-option class="md-accent" ng-value="g" ng-repeat="g in genre track by $index">{{g}}
          </md-option>

        </md-select>
        <md-button class="md-mini md-primary" clear-playlist >Start Station</md-button>

    </div>

      </form>

      <i  ng-show="currentUserSignedIn"  onclick="Materialize.toast('Station Added!', 4000)" class="small material-icons favmusicicon tooltipped" ng-click="favIt(s, c, g)" data-position="top" data-delay="50" data-tooltip="Save Station">library_add</i>
    </div>

  </div>
  </md-card-content>
</md-card>

  <div class="player" ui-view></div>
  <script>
            $(document).ready(function(){
                $('.tooltipped').tooltip({delay: 50});
              });
            </script>
