body {
  font-family: 'Philosopher', sans-serif;
  background-color: #3c4d52;
  color: white;
  min-height: 800px;
  max-height: 1000px; }

h1 {
  font-family: 'Audiowide', cursive; }

h3 {
  font-family: 'Monofett', cursive; }

footer {
  text-align: center;
  height: 50px;
  background-color: black;
  color: white;
  font-family: 'Audiowide', cursive;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden; }

md-card {
  background-color: #676767; }

md-sidenav {
  border-radius: 5px; }

md-backdrop {
  height: auto; }

.rust {
  background-color: #a8604f; }

.shortWav {
  color: white; }

.login-buttons {
  text-align: center; }

.menu-stuff {
  font-size: 20px; }
  .menu-stuff li {
    padding: 5px; }
  .menu-stuff i {
    margin-right: 10px; }
  .menu-stuff .collection {
    border: transparent; }
  .menu-stuff .collection-item {
    background-color: black;
    border-radius: 5px; }

.cust-button {
  font-family: 'Monofett', cursive;
  font-size: 30px;
  color: white; }

.form {
  padding: 20px; }

.fa-headphones {
  margin: 10px; }

.logOutButton {
  visibility: hidden; }
