body {
  font-family: 'Philosopher', sans-serif;
  background-color: #3c4d52; }

h1 {
  font-family: 'Audiowide', cursive; }

h3 {
  font-family: 'Monofett', cursive; }

.rust {
  background-color: #a8604f; }
