    <!-- Home Page -->
        <div>
          <md-button ng-click="toggleLeft()"
            class="md-primary" hide-gt-md>
            <i class="fa fa-bars"></i>Menu
          </md-button>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem eius modi laborum, consectetur perferendis atque voluptatum illum sapiente dolores, illo aut id blanditiis veritatis tempora sed vitae ex minima! Molestiae!</p>
        </div>
          <!-- Buttons -->
        <div class="login-buttons">
          <md-button ng-click="toggleRight()"
            class="md-primary cust-button">
            Login
          </md-button>
           <a href="/#register">
             <md-button
              class="md-primary cust-button">
              Register
            </md-button>
          <!-- </a>
          <a href="/#artistregister">
            <md-button
              class="md-primary cust-button">
              Artist
            </md-button>
          </a> -->
        </div>
