<ul class="collection">
          <li>
            <a href="#/player" class="collection-item">Listen Now</a>
          </li>
          <li>
            <a href="#/find-station" class="collection-item"><i class="material-icons">settings_input_antenna</i>
            Find a Station
            </a>
          </li>
          <li>
            <a href="#/register" class="collection-item">My Stations</a>
          </li>
          <li>
            <a href="#/register" class="collection-item">My Favorited Tracks</a>
          </li>
          <li>
            <a href="#/register" class="collection-item">Profile</a>
          </li>

</ul>
