<md-card>
<div class="singledev">
{{devs.name}},
{{ devs.description }}
  <p>email: {{devs.email}}</p>
          <p>
          <a href="{{devs.github}}">
          <i class="fa fa-github fa-2x"></i></a>
          <a href="{{devs.linkedin}}">
          <i class="fa fa-linkedin-square fa-2x"></i>
          </a>
          </p>
</div>
<div class="logohome">
Demo Day, July 24, 2015 <img src="images/tiy-logo.png">
<a href="#/" class="brand-logo" ng-hide="currentUserSignedIn" aria-hidden="false">
        <h1 style="font-size: 15px" class="md-toolbar-tools shortWav">shortWav<i class="fa fa-headphones"></i></h1>
      </a>

</div>
</md-card>
