
      <md-card style="min-width: 500px">
      <md-card-content>
       <i class="small material-icons favmusicicon" ng-click="favit()">library_music</i>
       <i class="mini material-icons thumbupicon" ng-click="thumbit()">thumb_up</i>

        <div class="hi"></div>

          <div layout="row" class="playerholder" layout-wrap>

            <!-- Left Side -->
              <div flex="75">
                <!-- init soundManager2 player -->
                <sound-manager></sound-manager>
                  <div class="playpage">
                    <p>
                        <h5>{{ currentPlaying.title }}</h5> <h6 style='font-size: 10px'> by </h6>{{ currentPlaying.user.username }}

                    </p>


                    <div class="seekBase" seek-track>
                        <div class="seekLoad" ng-style="{width : ( progress + '%' ) }"></div>
                    </div>
                    ({{ currentPostion }} / {{ currentDuration }})

                    <br />
                    <div class="playb">

                    <!-- play toggle -->
                      <md-button class="md-fab md-primary" ng-click="played(x)" play-pause-toggle>

                          <i id="playIcon" class="small material-icons">pause</i>

                          <!--  Is Playing:  -->
                          <!-- ({{ isPlaying }}) -->
                      </md-button>


                    -
                    <!-- stop button -->
                      <md-button class="md-fab md-mini" ng-click="stopIt()" stop-music>
                        <i class="small material-icons">stop</i>
                      </md-button>

                    -

                <md-button class="md-fab md-mini" prev-track><i class="small material-icons">skip_previous</i></md-button>
                -
                <md-button class="md-fab md-mini" next-track><i class="small material-icons">skip_next</i></md-button>


                      <div class="volbutton">
                      <!--
                      <br/>
                      <br/> -->Volume: {{ volume }} -
                        <md-button class="md-fab md-mini"music-volume data-type="increase">
                          <i class="small material-icons">volume_up</i>
                        </md-button>

                      -
                        <md-button class="md-fab md-mini" music-volume data-type="decrease">
                            <i class="small material-icons">volume_down</i>
                        </md-button>

                      -
                      <!-- mute button -->
                        <md-button class="md-fab md-mini" ng-click="muteButton(x)" mute-music>
                            <i id="muteIcon" class="small material-icons">volume_mute</i>
                            <!-- ({{ mute }}) -->
                        </md-button>
                      </div>
                    </div>
                  <br/>
                  <br/>
                  </div>
                  <div class="artiststuff" flex>

                   <div class="avatar-holder">
                      <div class="avatar">
                      <img ng-src="{{currentPlaying.user.avatar_url}}">
                      </div>
                      <div class="albumart">
                        <img ng-src="{{ currentPlaying.albumArt }}">
                      </div>
                    </div>



                 <h5> {{ currentPlaying.user.username }}</h5>
                  <div class="playtitle">
                  {{ currentPlaying.title }}
                  </div>
                  <div class="description">
                  <p>{{ currentPlaying.description}}</p>
                  </div>
                  <a href="{{ currentPlaying.soundcloudLink }}">view on Soundcloud</a>




                  </div>
                </div>

                  <!-- Right Side -->

                <div flex="25">
                  <div class="animation-rotation">
                      <div class="earth">
                        <h1 class="earthtext">sw</h1>
                      </div>
                      <div id="satellite" class="satellite-orbit satellite-orbit-animation">
                        <div class="satellite1">
                            <div class="satellite2"></div>
                        </div>
                      </div>
                      <div id="moon" class="moon-orbit moon-orbit-animation">
                          <div class="moon"></div>
                      </div>
                  </div>
                </div>
            </div>
            </md-card-content>
            </md-card>
