<md-card class="station-search">
  <md-card-content>
  <h5>Find a Station</h5>


  <div layout="column" layout-align="center center" style="padding:40px">

    <div layout="row" style="height: 100px;">


      <form ng-submit="loadStation(g)">

    <div layout="row">
        <!-- Select genre/ need to change to country -->

        <md-select ng-model="g.genre" md-on-open="loadGenres()"  style="min-width: 200px;">

          <md-select-label>{{ g ? g.genre : 'Select Genre' }}</md-select-label>

          <md-option class="md-accent" ng-value="g" ng-repeat="g in genre track by $index">{{g}}
          </md-option>

        </md-select>


        <!-- Select song / need to change to genre -->

         <md-select ng-model="g.songs" md-on-open="loadTracks(g)" style="min-width: 200px;">

          <md-select-label>{{ g ? g.songs : 'Songs' }}</md-select-label>

          <md-option ng-value="g.title" ng-repeat="g in genreSongs track by $index">{{g.title}}
          </md-option>

        </md-select>



        <!-- <p class="md-caption">You have assigned the task to: {{ g ? g.name : 'No one yet' }}</p> -->

        <md-button class="md-mini md-primary" clear-playlist>Play Station</md-button>

    </div>

      </form>
      <i class="small material-icons favmusicicon" ng-click="favit()">library_add</i>
    </div>

  </div>
  </md-card-content>
</md-card>

  <div class="player" ui-view></div>
