<div class="reset-password">
  <md-card>
  <md-card-content>
    <h5>Reset Password</h5>
    <p>An email will be sent to your inbox with a link to reset your password</p>
    <p>If you are currently logged in you will be logged out for security purposes</p>
    <form ng-submit="resetPassword(user)">

     <div class="row">
      <div class="input-field col s12">
        <input ng-model="user.email" id="email" type="email" class="validate">
        <label for="email">Email</label>
      </div>
    </div>

    </form>
  </md-card-content>
  </md-card>
</div>
