body{
  font-family: 'Philosopher', sans-serif;
  background-color: rgb(60, 77, 82);
}
h1{
  font-family: 'Audiowide', cursive;
}
h3{
  font-family: 'Monofett', cursive;
}
.rust{
  background-color: rgb(168, 96, 79)
}
.shortWav{
}
