body{
  font-family: 'Philosopher', sans-serif;
  background-color: rgb(60, 77, 82);
  color: white;
  min-height: 800px;
  max-height: 1000px;
}
h1{
  font-family: 'Audiowide', cursive;
}
h3{
  font-family: 'Monofett', cursive;
}
footer{
  text-align: center;
  height: 50px;
  background-color: black;
  color: white;
  font-family: 'Audiowide', cursive;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow:hidden;

}
// card color
md-card{
  background-color: rgb(103, 103, 103);
}
md-sidenav{
  border-radius: 5px;
}
// fixes size of right nav
md-backdrop{
  height: auto;
}
md-autocomplete{
  color: black;
}
// makes things rusty
.rust{
  background-color: rgb(168, 96, 79)
}
// logo
.shortWav{
  color: white;
}
.login-buttons{
  text-align: center;
}

// left side menu stuffs
.menu-stuff{
  font-size: 20px;
  li{
    padding: 5px;
  }
  i{
    margin-right: 10px;
  }
  .collection{
    border: transparent;
  }
  .collection-item{
    background-color: black;
    border-radius: 5px;
  }
}
.cust-button{
  font-family: 'Monofett', cursive;
  font-size: 30px;
  color: white;
}
.form{
  padding: 20px;
}
.fa-headphones{
  margin: 10px;
}
.logOutButton{
  visibility: hidden;
}
//play page
.playpage{
  font-family: 'Audiowide', cursive;
}
.playb{
  button{
  background-color: rgb(103, 103, 103);  }
}
