<ul class="collection">
    <li>

      <a id='myDash1' href="#/home" class="collection-item">
        <i class="material-icons">dashboard</i>
      Dashboard
      </a>

    </li>

    <li>

      <a id='myListen1' href="#/player" class="collection-item">
        <i class="material-icons">settings_input_antenna</i>
      Listen Now
      </a>

    </li>

    <li>

      <a id='myFind1' href="#/find-station" class="collection-item">
        <i class="material-icons">search</i>
        Find a Station
      </a>

    </li>

    <li>
      <a href="#/my-music" class="collection-item">
        <i class="material-icons">queue_music</i>
        My Songs
      </a>
    </li>

   <li>
      <a id='myProfile' href="#/home/{{id}}" class="collection-item">
        <i class="material-icons">perm_identity</i>
        Profile
      </a>
    </li>
    <li>
      <a ng-click="logOutArtist()" class="collection-item">
      Log Out
      </a>
    </li>

</ul>
