<ul class="collection">
          <li>

            <a href="#/player" class="collection-item">
              <i class="material-icons">settings_input_antenna</i>
              Listen Now
            </a>

          </li>

          <li>

            <a href="#/find-station" class="collection-item">
              <i class="material-icons">search</i>
              Find a Station
            </a>

          </li>
          <li>

            <a href="#/" class="collection-item">
              <i class="material-icons">info</i>
              About shortWav
            </a>

          </li>

          <li>
            <md-menu>
              <md-button class="collection-item" ng-click="$mdOpenMenu()">
                Users
              </md-button>
              <md-menu-content width="4">
                <md-menu-item>
                  <md-button class="collection-item" ng-click="toggleRight()">
                    Login
                  </md-button>
                </md-menu-item>
                <md-menu-divider></md-menu-divider>
                <md-menu-item>
                  <md-button class="collection-item" ng-click="goRegister()">

                      Register
                  </md-button>
                </md-menu-item>
              </md-menu-content>
            </md-menu>
          </li>

        </ul>
