<ul class="collection" ng-if="!_routeUser()">
          <li>

            <a href="#/player" class="collection-item">
              <i class="material-icons">settings_input_antenna</i>
              Listen Now
            </a>

          </li>

          <li>

            <a href="#/find-station" class="collection-item">
              <i class="material-icons">search</i>
              Find a Station
            </a>

          </li>

          <li>
            <a href="#/register" class="collection-item">Register</a>
          </li>

          <li>
            <md-button ng-click="toggleRight()"
                  class="collection-item">
                  Login
            </md-button>
          </li>

        </ul>
